<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Pipes</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xlg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Inbuilt Pipes <a href="https://angular.io/api?type=pipe">Documentation</a></h4>
          <div class="todo-widget scrollable ps-container ps-theme-default ps-active-y" style="height:450px;"
            data-ps-id="e8ac8c44-d543-d2a7-6753-b6f0dd481d0a">
            <h5>1. async Pipe</h5>
            <div>
              {{ name | async }} <a href="https://angular.io/api/common/AsyncPipe" target="blank" style="padding:45px;">
                Read More </a>
            </div>
            <h5>2. currency Pipe</h5>
            <div>
              {{ user?.salary | currency }}
              <a href="https://angular.io/api/common/CurrencyPipe" target="blank" style="padding:45px;">
                Read More </a>
            </div>
            <h5>3. currency Pipe</h5>
            <div>
              {{ user?.dob | date:'MM/dd/yyyy' }}
              <a href="https://angular.io/api/common/DatePipe" target="blank" style="padding:45px;">
                Read More </a>
            </div>
            <h5>4. custom Pipe</h5>
            <div>
              Current Month : {{currentMonth}} ({{currentMonth | monthFormat }})
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
