<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Broadcasting</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xlg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Broadcasting</h4>
          <div class="todo-widget scrollable ps-container ps-theme-default ps-active-y" data-ps-id="e8ac8c44-d543-d2a7-6753-b6f0dd481d0a">
            <button class="btn btn-primary" (click)="emitEvent()"> Emit Event</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
